html {
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.w-text.font_main_menu, .w-nav-item {
    font-family: "Noto Sans",sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6, .w-text.font_heading, .w-blog-post.format-quote blockquote, .w-counter-number, .w-pricing-item-price, .w-tabs-item-title, .ult_price_figure, .ult_countdown-amount, .ultb3-box .ultb3-title, .stats-block .stats-desc .stats-number {
    font-family: "Noto Sans",sans-serif;
    font-weight: 300;
}
h1 {
    font-size: 38px;
    letter-spacing: 0;
}
h2 {
    font-size: 32px;
    letter-spacing: 0;
}
h3 {
    font-size: 26px;
    letter-spacing: 0;
}
h4, .widgettitle, .comment-reply-title, .woocommerce #reviews h2, .woocommerce .related > h2, .woocommerce .upsells > h2, .woocommerce .cross-sells > h2 {
    font-size: 22px;
    letter-spacing: 0;
}
h5 {
    font-size: 20px;
    letter-spacing: 0;
}
h6 {
    font-size: 18px;
    letter-spacing: 0;
}
@media (max-width: 767px) {
html {
    font-size: 13px;
    line-height: 21px;
}
h1 {
    font-size: 30px;
}
h1.vc_custom_heading {
    font-size: 30px !important;
}
h2 {
    font-size: 26px;
}
h2.vc_custom_heading {
    font-size: 26px !important;
}
h3 {
    font-size: 22px;
}
h3.vc_custom_heading {
    font-size: 22px !important;
}
h4, .widgettitle, .comment-reply-title, .woocommerce #reviews h2, .woocommerce .related > h2, .woocommerce .upsells > h2, .woocommerce .cross-sells > h2 {
    font-size: 20px;
}
h4.vc_custom_heading {
    font-size: 20px !important;
}
h5 {
    font-size: 18px;
}
h5.vc_custom_heading {
    font-size: 18px !important;
}
h6 {
    font-size: 16px;
}
h6.vc_custom_heading {
    font-size: 16px !important;
}
}
body, .header_hor .l-header.pos_fixed {
    min-width: 1240px;
}
.l-canvas.type_boxed, .l-canvas.type_boxed .l-subheader, .l-canvas.type_boxed .l-section.type_sticky, .l-canvas.type_boxed ~ .l-footer {
    max-width: 1240px;
}
.header_hor .l-subheader-h, .l-titlebar-h, .l-main-h, .l-section-h, .w-tabs-section-content-h, .w-blog-post-body {
    max-width: 1140px;
}
@media (max-width: 1280px) {
.owl-carousel[data-nav="1"] {
    padding: 0 calc(3.5rem + 20px);
}
.owl-carousel[data-nav="1"] .owl-prev {
    left: 0;
}
.rtl .owl-carousel[data-nav="1"] .owl-prev {
    left: auto;
    right: 0;
}
.owl-carousel[data-nav="1"] .owl-next {
    right: 0;
}
.rtl .owl-carousel[data-nav="1"] .owl-next {
    left: 0;
    right: auto;
}
}
.l-sidebar {
    width: 25%;
}
.l-content {
    width: 70%;
}
@media (max-width: 767px) {
.g-cols > div:not([class*=" vc_col-"]) {
    float: none;
    margin: 0 0 2rem;
    width: 100%;
}
.g-cols.type_boxes > div, .g-cols > div:last-child, .g-cols > div.has-fill {
    margin-bottom: 0;
}
.vc_wp_custommenu.layout_hor, .align_center_xs {
    text-align: center;
}
}
.w-btn, .button, .l-body .cl-btn, .l-body .ubtn, .l-body .ultb3-btn, .l-body .btn-modal, .l-body .flip-box-wrap .flip_link a, .l-body .ult_pricing_table_wrap .ult_price_link .ult_price_action_button, .tribe-events-button, button, input[type="button"], input[type="submit"] {
    border-radius: 0.3em;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 2.8;
    padding: 0 1.8em;
    text-transform: uppercase;
}
.w-btn.icon_atleft i {
    left: 1.8em;
}
.w-btn.icon_atright i {
    right: 1.8em;
}
@media (min-width: 901px) {
.l-subheader.at_top {
    display: none;
}
.header_hor .l-subheader.at_top {
    height: 36px;
    line-height: 36px;
}
.header_hor .l-header.sticky .l-subheader.at_top {
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.header_hor .l-subheader.at_middle {
    height: 90px;
    line-height: 90px;
}
.header_hor .l-header.sticky .l-subheader.at_middle {
    height: 50px;
    line-height: 50px;
}
.l-subheader.at_bottom {
    display: none;
}
.header_hor .l-subheader.at_bottom {
    height: 36px;
    line-height: 36px;
}
.header_hor .l-header.sticky .l-subheader.at_bottom {
    height: 40px;
    line-height: 40px;
}
.header_hor .l-header.pos_fixed ~ .l-titlebar, .header_hor .titlebar_none.sidebar_left .l-header.pos_fixed ~ .l-main, .header_hor .titlebar_none.sidebar_right .l-header.pos_fixed ~ .l-main, .header_hor .titlebar_none.sidebar_none .l-header.pos_fixed ~ .l-main .l-section:first-child, .header_hor.header_inpos_below .l-header.pos_fixed ~ .l-main .l-section:nth-child(2), .header_hor .l-header.pos_static.bg_transparent ~ .l-titlebar, .header_hor .titlebar_none.sidebar_left .l-header.pos_static.bg_transparent ~ .l-main, .header_hor .titlebar_none.sidebar_right .l-header.pos_static.bg_transparent ~ .l-main, .header_hor .titlebar_none.sidebar_none .l-header.pos_static.bg_transparent ~ .l-main .l-section:first-child {
    padding-top: 90px;
}
.header_hor .l-header.pos_static.bg_solid + .l-main .l-section.preview_trendy .w-blog-post-preview {
    top: -90px;
}
.header_hor.header_inpos_bottom .l-header.pos_fixed ~ .l-main .l-section:first-child {
    padding-bottom: 90px;
}
.header_hor .l-header.bg_transparent ~ .l-main .l-section.valign_center:first-child > .l-section-h {
    top: -45px;
}
.header_hor.header_inpos_bottom .l-header.pos_fixed.bg_transparent ~ .l-main .l-section.valign_center:first-child > .l-section-h {
    top: 45px;
}
.header_hor .l-header.pos_fixed ~ .l-main .l-section.height_full:not(:first-child) {
    min-height: calc(100vh - 50px);
}
.admin-bar.header_hor .l-header.pos_fixed ~ .l-main .l-section.height_full:not(:first-child) {
    min-height: calc(100vh - 82px);
}
.header_hor .l-header.pos_fixed ~ .l-main .l-section.sticky {
    top: 50px;
}
.admin-bar.header_hor .l-header.pos_fixed ~ .l-main .l-section.sticky {
    top: 82px;
}
.header_hor .titlebar_none.sidebar_none .l-header.pos_fixed.sticky ~ .l-main .l-section.type_sticky:first-child {
    padding-top: 50px;
}
.header_ver {
    padding-left: 300px;
    position: relative;
}
.rtl.header_ver {
    padding-left: 0;
    padding-right: 300px;
}
.header_ver .l-header, .header_ver .l-header .w-cart-notification {
    width: 300px;
}
.header_ver .l-navigation-item.to_next {
    left: calc(300px - 13.5rem);
}
.no-touch .header_ver .l-navigation-item.to_next:hover {
    left: 300px;
}
.rtl.header_ver .l-navigation-item.to_next {
    right: calc(300px - 13.5rem);
}
.no-touch .rtl.header_ver .l-navigation-item.to_next:hover {
    right: 300px;
}
.header_ver .w-nav.type_desktop [class*="columns"] .w-nav-list.level_2 {
    max-width: 980px;
    width: calc(100vw - 300px);
}
}
@media (min-width: 601px) and (max-width: 900px) {
.l-subheader.at_top {
    display: none;
}
.header_hor .l-subheader.at_top {
    height: 36px;
    line-height: 36px;
}
.header_hor .l-header.sticky .l-subheader.at_top {
    height: 36px;
    line-height: 36px;
}
.header_hor .l-subheader.at_middle {
    height: 80px;
    line-height: 80px;
}
.header_hor .l-header.sticky .l-subheader.at_middle {
    height: 50px;
    line-height: 50px;
}
.l-subheader.at_bottom {
    display: none;
}
.header_hor .l-subheader.at_bottom {
    height: 50px;
    line-height: 50px;
}
.header_hor .l-header.sticky .l-subheader.at_bottom {
    height: 50px;
    line-height: 50px;
}
.header_hor .l-header.pos_fixed ~ .l-titlebar, .header_hor .titlebar_none.sidebar_left .l-header.pos_fixed ~ .l-main, .header_hor .titlebar_none.sidebar_right .l-header.pos_fixed ~ .l-main, .header_hor .titlebar_none.sidebar_none .l-header.pos_fixed ~ .l-main .l-section:first-child, .header_hor .l-header.pos_static.bg_transparent ~ .l-titlebar, .header_hor .titlebar_none.sidebar_left .l-header.pos_static.bg_transparent ~ .l-main, .header_hor .titlebar_none.sidebar_right .l-header.pos_static.bg_transparent ~ .l-main, .header_hor .titlebar_none.sidebar_none .l-header.pos_static.bg_transparent ~ .l-main .l-section:first-child {
    padding-top: 80px;
}
.header_hor .l-header.pos_static.bg_solid + .l-main .l-section.preview_trendy .w-blog-post-preview {
    top: -80px;
}
.header_ver .l-header {
    width: 300px;
}
}
@media (max-width: 600px) {
.l-subheader.at_top {
    display: none;
}
.header_hor .l-subheader.at_top {
    height: 36px;
    line-height: 36px;
}
.header_hor .l-header.sticky .l-subheader.at_top {
    height: 36px;
    line-height: 36px;
}
.header_hor .l-subheader.at_middle {
    height: 50px;
    line-height: 50px;
}
.header_hor .l-header.sticky .l-subheader.at_middle {
    height: 50px;
    line-height: 50px;
}
.l-subheader.at_bottom {
    display: none;
}
.header_hor .l-subheader.at_bottom {
    height: 50px;
    line-height: 50px;
}
.header_hor .l-header.sticky .l-subheader.at_bottom {
    height: 50px;
    line-height: 50px;
}
.header_hor .l-header.pos_fixed ~ .l-titlebar, .header_hor .titlebar_none.sidebar_left .l-header.pos_fixed ~ .l-main, .header_hor .titlebar_none.sidebar_right .l-header.pos_fixed ~ .l-main, .header_hor .titlebar_none.sidebar_none .l-header.pos_fixed ~ .l-main .l-section:first-child, .header_hor .l-header.pos_static.bg_transparent ~ .l-titlebar, .header_hor .titlebar_none.sidebar_left .l-header.pos_static.bg_transparent ~ .l-main, .header_hor .titlebar_none.sidebar_right .l-header.pos_static.bg_transparent ~ .l-main, .header_hor .titlebar_none.sidebar_none .l-header.pos_static.bg_transparent ~ .l-main .l-section:first-child {
    padding-top: 50px;
}
.header_hor .l-header.pos_static.bg_solid + .l-main .l-section.preview_trendy .w-blog-post-preview {
    top: -50px;
}
}
@media (min-width: 901px) {
.ush_image_1 {
    height: 70px;
}
.l-header.sticky .ush_image_1 {
    height: 55px;
}
}
@media (min-width: 601px) and (max-width: 900px) {
.ush_image_1 {
    height: 40px;
}
.l-header.sticky .ush_image_1 {
    height: 40px;
}
}
@media (max-width: 600px) {
.ush_image_1 {
    height: 30px;
}
.l-header.sticky .ush_image_1 {
    height: 30px;
}
}
.ush_text_1 .w-text-value {
}
@media (min-width: 901px) {
.ush_text_1 {
    font-size: 27px;
}
}
@media (min-width: 601px) and (max-width: 900px) {
.ush_text_1 {
    font-size: 24px;
}
}
@media (max-width: 600px) {
.ush_text_1 {
    font-size: 20px;
}
}
.ush_text_1 {
    white-space: nowrap;
}
.ush_text_2 .w-text-value {
}
@media (min-width: 901px) {
.ush_text_2 {
    font-size: 13px;
}
}
@media (min-width: 601px) and (max-width: 900px) {
.ush_text_2 {
    font-size: 13px;
}
}
@media (max-width: 600px) {
.ush_text_2 {
    font-size: 13px;
}
}
.ush_text_2 {
    white-space: nowrap;
}
.ush_text_3 .w-text-value {
}
@media (min-width: 901px) {
.ush_text_3 {
    font-size: 13px;
}
}
@media (min-width: 601px) and (max-width: 900px) {
.ush_text_3 {
    font-size: 13px;
}
}
@media (max-width: 600px) {
.ush_text_3 {
    font-size: 13px;
}
}
.ush_text_3 {
    white-space: nowrap;
}
.ush_text_4 .w-text-value {
}
@media (min-width: 901px) {
.ush_text_4 {
    font-size: 13px;
}
}
@media (min-width: 601px) and (max-width: 900px) {
.ush_text_4 {
    font-size: 13px;
}
}
@media (max-width: 600px) {
.ush_text_4 {
    font-size: 13px;
}
}
.ush_text_4 {
    white-space: nowrap;
}
.header_hor .ush_menu_1.type_desktop .w-nav-list.level_1 > .menu-item > a {
    padding: 0 20px;
}
.header_ver .ush_menu_1.type_desktop {
    line-height: 40px;
}
.ush_menu_1.type_desktop .btn.w-nav-item.level_1 > .w-nav-anchor {
    margin: 10px;
}
.ush_menu_1.type_desktop .w-nav-list.level_1 > .menu-item > a {
    font-size: 16px;
}
.ush_menu_1.type_desktop .w-nav-anchor:not(.level_1) {
    font-size: 15px;
}
.ush_menu_1.type_mobile .w-nav-anchor.level_1 {
    font-size: 16px;
}
.ush_menu_1.type_mobile .w-nav-anchor:not(.level_1) {
    font-size: 15px;
}
@media (min-width: 901px) {
.ush_search_1.layout_simple {
    max-width: 240px;
}
.ush_search_1.layout_modern.active {
    width: 240px;
}
}
@media (min-width: 601px) and (max-width: 900px) {
.ush_search_1.layout_simple {
    max-width: 200px;
}
.ush_search_1.layout_modern.active {
    width: 200px;
}
}
@media (min-width: 901px) {
.ush_socials_1 {
    font-size: 18px;
}
}
@media (min-width: 601px) and (max-width: 900px) {
.ush_socials_1 {
    font-size: 18px;
}
}
@media (max-width: 600px) {
.ush_socials_1 {
    font-size: 18px;
}
}
.ush_socials_1 .custom .w-socials-item-link-hover {
    background-color: #1abc9c;
}
.ush_socials_1.color_brand .custom .w-socials-item-link {
    color: #1abc9c;
}
@media (min-width: 901px) {
.ush_dropdown_1 .w-dropdown-h {
    font-size: 13px;
}
}
@media (min-width: 601px) and (max-width: 900px) {
.ush_dropdown_1 .w-dropdown-h {
    font-size: 13px;
}
}
@media (max-width: 600px) {
.ush_dropdown_1 .w-dropdown-h {
    font-size: 13px;
}
}
@media (min-width: 901px) {
.ush_cart_1 .w-cart-link {
    font-size: 20px;
}
}
@media (min-width: 601px) and (max-width: 900px) {
.ush_cart_1 .w-cart-link {
    font-size: 20px;
}
}
@media (max-width: 600px) {
.ush_cart_1 .w-cart-link {
    font-size: 20px;
}
}

.l-subheader.at_top, .l-subheader.at_top .w-dropdown-list, .header_hor .l-subheader.at_top .type_mobile .w-nav-list.level_1 {
    background-color: #f5f5f5;
}
.l-subheader.at_top, .l-subheader.at_top .w-dropdown.active, .header_hor .l-subheader.at_top .type_mobile .w-nav-list.level_1 {
    color: #777;
}
.no-touch .l-subheader.at_top a:hover, .no-touch .l-subheader.at_top .w-cart-quantity, .no-touch .l-header.bg_transparent .l-subheader.at_top .w-dropdown.active a:hover {
    color: #ff6ba9;
}
.header_ver .l-header, .header_hor .l-subheader.at_middle, .l-subheader.at_middle .w-dropdown-list, .header_hor .l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
    background-color: #fff;
}
.l-subheader.at_middle, .l-subheader.at_middle .w-dropdown.active, .header_hor .l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
    color: #666;
}
.no-touch .l-subheader.at_middle a:hover, .no-touch .l-subheader.at_middle .w-cart-quantity, .no-touch .l-header.bg_transparent .l-subheader.at_middle .w-dropdown.active a:hover {
    color: #1b98e0;
}
.l-subheader.at_bottom, .l-subheader.at_bottom .w-dropdown-list, .header_hor .l-subheader.at_bottom .type_mobile .w-nav-list.level_1 {
    background-color: #f5f5f5;
}
.l-subheader.at_bottom, .l-subheader.at_bottom .w-dropdown.active, .header_hor .l-subheader.at_bottom .type_mobile .w-nav-list.level_1 {
    color: #777;
}
.no-touch .l-subheader.at_bottom a:hover, .no-touch .l-subheader.at_bottom .w-cart-quantity, .no-touch .l-header.bg_transparent .l-subheader.at_bottom .w-dropdown.active a:hover {
    color: #ff6ba9;
}
.l-header.bg_transparent:not(.sticky) .l-subheader {
    color: #fff;
}
.no-touch .l-header.bg_transparent:not(.sticky) a:hover:not(.w-nav-anchor), .no-touch .l-header.bg_transparent:not(.sticky) .type_desktop .w-nav-item.level_1:hover > .w-nav-anchor {
    color: #fff;
}
.l-header.bg_transparent:not(.sticky) .w-nav-title::after {
    background-color: #fff;
}
.w-search-form {
    background-color: #fff;
    color: #1b98e0;
}
.no-touch .w-nav-item.level_1:hover > .w-nav-anchor {
    background-color: #fff;
    color: #000;
}
.w-nav-title::after {
    background-color: #000;
}
.w-nav-item.level_1.current-menu-item > .w-nav-anchor, .w-nav-item.level_1.current-menu-parent > .w-nav-anchor, .w-nav-item.level_1.current-menu-ancestor > .w-nav-anchor {
    background-color: #fff;
    color: #447490;
}
.l-header.bg_transparent:not(.sticky) .type_desktop .w-nav-item.level_1.current-menu-item > .w-nav-anchor, .l-header.bg_transparent:not(.sticky) .type_desktop .w-nav-item.level_1.current-menu-ancestor > .w-nav-anchor {
    color: #000000;
}
.w-nav-list:not(.level_1) {
    background-color: #fff;
    color: #000;
}
.no-touch .w-nav-item:hover:not(.level_1) > .w-nav-anchor {
    background-color: #fff;
    color: #447490;
}
.w-nav-item.current-menu-item:not(.level_1) > .w-nav-anchor, .w-nav-item.current-menu-parent:not(.level_1) > .w-nav-anchor, .w-nav-item.current-menu-ancestor:not(.level_1) > .w-nav-anchor {
    background-color: #fff;
    color: #000;
}
.btn.w-menu-item, .btn.menu-item.level_1 > a, .l-footer .vc_wp_custommenu.layout_hor .btn > a {
    background-color: #447490 !important;
    color: #000 !important;
}
.no-touch .btn.w-menu-item:hover, .no-touch .btn.menu-item.level_1 > a:hover, .no-touch .l-footer .vc_wp_custommenu.layout_hor .btn > a:hover {
    background-color: #1487ca !important;
    color: #000 !important;
}
body.us_iframe, .l-preloader, .l-canvas, .l-footer, .l-popup-box-content, .w-blog.layout_flat .w-blog-post-h, .w-blog.layout_cards .w-blog-post-h, .w-cart-dropdown, .g-filters.style_1 .g-filters-item.active, .no-touch .g-filters-item.active:hover, .w-portfolio-item-anchor, .w-tabs.layout_default .w-tabs-item.active, .w-tabs.layout_ver .w-tabs-item.active, .no-touch .w-tabs.layout_default .w-tabs-item.active:hover, .no-touch .w-tabs.layout_ver .w-tabs-item.active:hover, .w-tabs.layout_timeline .w-tabs-item, .w-tabs.layout_timeline .w-tabs-section-header-h, .us-woo-shop_modern .product-h, .us-woo-shop_modern .product-meta, .no-touch .us-woo-shop_trendy .product:hover .product-h, .woocommerce-tabs .tabs li.active, .no-touch .woocommerce-tabs .tabs li.active:hover, .woocommerce .shipping-calculator-form, .woocommerce #payment .payment_box, .wpml-ls-statics-footer, #bbp-user-navigation li.current, .select2-search input, .chosen-search input, .chosen-choices li.search-choice {
    background-color: #fff;
}
.woocommerce #payment .payment_methods li > input:checked + label, .woocommerce .blockUI.blockOverlay {
    background-color: #fff !important;
}
.w-tabs.layout_modern .w-tabs-item::after {
    border-bottom-color: #fff;
}
a.w-btn.color_contrast, .w-btn.color_contrast, .no-touch a.w-btn.color_contrast:hover, .no-touch .w-btn.color_contrast:hover, .no-touch a.w-btn.color_contrast.style_outlined:hover, .no-touch .w-btn.color_contrast.style_outlined:hover, .w-iconbox.style_circle.color_contrast .w-iconbox-icon, .tribe-events-calendar thead th {
    color: #fff;
}
input, textarea, select, .l-section.for_blogpost .w-blog-post-preview, .w-actionbox.color_light, .g-filters.style_1, .g-filters.style_2 .g-filters-item.active, .w-iconbox.style_circle.color_light .w-iconbox-icon, .g-loadmore-btn, .w-pricing-item-header, .w-progbar-bar, .w-progbar.style_3 .w-progbar-bar::before, .w-progbar.style_3 .w-progbar-bar-count, .w-socials.style_solid .w-socials-item-link, .w-tabs.layout_default .w-tabs-list, .w-tabs.layout_ver .w-tabs-list, .w-testimonials.style_4 .w-testimonial-h::before, .w-testimonials.style_6 .w-testimonial-text, .no-touch .l-main .widget_nav_menu a:hover, .l-content .wp-caption-text, .smile-icon-timeline-wrap .timeline-wrapper .timeline-block, .smile-icon-timeline-wrap .timeline-feature-item.feat-item, .us-woo-shop_trendy .products .product-category > a, .woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce-tabs .tabs, .woocommerce .cart_totals, .woocommerce-checkout #order_review, .woocommerce ul.order_details, .wpml-ls-legacy-dropdown a, .wpml-ls-legacy-dropdown-click a, #subscription-toggle, #favorite-toggle, #bbp-user-navigation, .tablepress .row-hover tr:hover td, .tribe-bar-views-list, .tribe-events-day-time-slot h5, .tribe-events-present, .tribe-events-single-section, .select2-container .select2-choice, .select2-drop, .chosen-single, .chosen-drop, .chosen-choices {
    background-color: #f2f2f2;
}
.timeline-wrapper .timeline-post-right .ult-timeline-arrow l, .timeline-wrapper .timeline-post-left .ult-timeline-arrow l, .timeline-feature-item.feat-item .ult-timeline-arrow l {
    border-color: #f2f2f2;
}
hr, td, th, .l-section, .vc_column_container, .vc_column-inner, .w-author, .w-comments-list, .w-pricing-item-h, .w-profile, .w-separator, .w-sharing-item, .w-tabs-list, .w-tabs-section, .w-tabs-section-header::before, .w-tabs.layout_timeline.accordion .w-tabs-section-content, .w-testimonial-h, .widget_calendar #calendar_wrap, .l-main .widget_nav_menu .menu, .l-main .widget_nav_menu .menu-item a, .smile-icon-timeline-wrap .timeline-line, .woocommerce .login, .woocommerce .track_order, .woocommerce .checkout_coupon, .woocommerce .lost_reset_password, .woocommerce .register, .woocommerce .cart.variations_form, .woocommerce .commentlist .comment-text, .woocommerce .comment-respond, .woocommerce .related, .woocommerce .upsells, .woocommerce .cross-sells, .woocommerce .checkout #order_review, .widget_price_filter .ui-slider-handle, .widget_layered_nav ul, .widget_layered_nav ul li, #bbpress-forums fieldset, .bbp-login-form fieldset, #bbpress-forums .bbp-body > ul, #bbpress-forums li.bbp-header, .bbp-replies .bbp-body, div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header, .bbp-pagination-links a, .bbp-pagination-links span.current, span.bbp-topic-pagination a.page-numbers, .bbp-logged-in, .tribe-events-list-separator-month span::before, .tribe-events-list-separator-month span::after, .type-tribe_events + .type-tribe_events, .gform_wrapper .gsection, .gform_wrapper .gf_page_steps, .gform_wrapper li.gfield_creditcard_warning, .form_saved_message {
    border-color: #e8e8e8;
}
.w-separator, .w-iconbox.color_light .w-iconbox-icon {
    color: #e8e8e8;
}
a.w-btn.color_light, .w-btn.color_light, .w-btn.color_light.style_outlined::before, .w-btn.w-blog-post-more::before, .w-iconbox.style_circle.color_light .w-iconbox-icon, .no-touch .g-loadmore-btn:hover, .woocommerce .button, .no-touch .woocommerce .quantity .plus:hover, .no-touch .woocommerce .quantity .minus:hover, .no-touch .woocommerce #payment .payment_methods li > label:hover, .widget_price_filter .ui-slider::before, .no-touch .wpml-ls-sub-menu a:hover, #tribe-bar-collapse-toggle, .gform_wrapper .gform_page_footer .gform_previous_button {
    background-color: #e8e8e8;
}
a.w-btn.color_light.style_outlined, .w-btn.color_light.style_outlined, .w-btn.w-blog-post-more, .w-iconbox.style_outlined.color_light .w-iconbox-icon, .w-person-links-item, .w-socials.style_outlined .w-socials-item-link, .pagination .page-numbers {
    box-shadow: 0 0 0 2px #e8e8e8 inset;
}
.w-tabs.layout_trendy .w-tabs-list {
    box-shadow: 0 -1px 0 #e8e8e8 inset;
}
h1, h2, h3, h4, h5, h6, .w-counter.color_heading .w-counter-number, .woocommerce .product .price {
    color: #555;
}
.w-progbar.color_heading .w-progbar-bar-h {
    background-color: #555;
}
input, textarea, select, .l-canvas, .l-footer, .l-popup-box-content, .w-blog.layout_flat .w-blog-post-h, .w-blog.layout_cards .w-blog-post-h, a.w-btn.color_contrast.style_outlined, .w-btn.color_contrast.style_outlined, .w-cart-dropdown, .w-form-row-field::before, .w-iconbox.color_light.style_circle .w-iconbox-icon, .w-tabs.layout_timeline .w-tabs-item, .w-tabs.layout_timeline .w-tabs-section-header-h, .woocommerce .button {
    color: #666;
}
a.w-btn.color_light, .w-btn.color_light, .w-btn.w-blog-post-more {
    color: #666 !important;
}
a.w-btn.color_contrast, .w-btn.color_contrast, .w-btn.color_contrast.style_outlined::before, .w-iconbox.style_circle.color_contrast .w-iconbox-icon, .w-progbar.color_text .w-progbar-bar-h, .w-scroller-dot, .tribe-mobile #tribe-events-footer a, .tribe-events-calendar thead th {
    background-color: #666;
}
.w-scroller-dot, .tribe-events-calendar thead th {
    border-color: #666;
}
a.w-btn.color_contrast.style_outlined, .w-btn.color_contrast.style_outlined, .w-iconbox.style_outlined.color_contrast .w-iconbox-icon {
    box-shadow: 0 0 0 2px #666 inset;
}
a {
    color: #447490;
}
.no-touch a:hover, .no-touch a:hover + .w-blog-post-body .w-blog-post-title a, .no-touch .w-blog-post-title a:hover {
    color: #1b98e0;
}
.no-touch .w-cart-dropdown a:hover:not(.button) {
    color: #1b98e0 !important;
}
.highlight_primary, .l-preloader, .no-touch .l-titlebar .g-nav-item:hover, a.w-btn.color_primary.style_outlined, .w-btn.color_primary.style_outlined, .l-main .w-contacts-item::before, .w-counter.color_primary .w-counter-number, .g-filters-item.active, .no-touch .g-filters.style_1 .g-filters-item.active:hover, .no-touch .g-filters.style_2 .g-filters-item.active:hover, .w-form-row.focused .w-form-row-field::before, .w-iconbox.color_primary .w-iconbox-icon, .no-touch .owl-prev:hover, .no-touch .owl-next:hover, .w-separator.color_primary, .w-sharing.type_outlined.color_primary .w-sharing-item, .no-touch .w-sharing.type_simple.color_primary .w-sharing-item:hover .w-sharing-icon, .w-tabs.layout_default .w-tabs-item.active, .w-tabs.layout_trendy .w-tabs-item.active, .w-tabs.layout_ver .w-tabs-item.active, .w-tabs-section.active .w-tabs-section-header, .w-testimonials.style_2 .w-testimonial-h::before, .us-woo-shop_standard .product-h .button, .woocommerce .star-rating span::before, .woocommerce-tabs .tabs li.active, .no-touch .woocommerce-tabs .tabs li.active:hover, .woocommerce #payment .payment_methods li > input:checked + label, #subscription-toggle span.is-subscribed::before, #favorite-toggle span.is-favorite::before {
    color: #447490;
}
.l-section.color_primary, .l-titlebar.color_primary, .no-touch .l-navigation-item:hover .l-navigation-item-arrow, .highlight_primary_bg, .w-actionbox.color_primary, .w-blog-post-preview-icon, .w-blog.layout_cards .format-quote .w-blog-post-h, button, input[type="button"], input[type="submit"], a.w-btn.color_primary, .w-btn.color_primary, .w-btn.color_primary.style_outlined::before, .no-touch .g-filters-item:hover, .w-iconbox.style_circle.color_primary .w-iconbox-icon, .no-touch .w-iconbox.style_circle .w-iconbox-icon::before, .no-touch .w-iconbox.style_outlined .w-iconbox-icon::before, .no-touch .w-person-links-item::before, .w-pricing-item.type_featured .w-pricing-item-header, .w-progbar.color_primary .w-progbar-bar-h, .w-sharing.type_solid.color_primary .w-sharing-item, .w-sharing.type_fixed.color_primary .w-sharing-item, .w-sharing.type_outlined.color_primary .w-sharing-item::before, .w-tabs.layout_modern .w-tabs-list, .w-tabs.layout_trendy .w-tabs-item::after, .w-tabs.layout_timeline .w-tabs-item::before, .w-tabs.layout_timeline .w-tabs-section-header-h::before, .no-touch .w-testimonials.style_6 .w-testimonial-h:hover .w-testimonial-text, .no-touch .w-header-show:hover, .no-touch .w-toplink.active:hover, .no-touch .pagination .page-numbers::before, .pagination .page-numbers.current, .l-main .widget_nav_menu .menu-item.current-menu-item > a, .rsThumb.rsNavSelected, .no-touch .tp-leftarrow.custom::before, .no-touch .tp-rightarrow.custom::before, .smile-icon-timeline-wrap .timeline-separator-text .sep-text, .smile-icon-timeline-wrap .timeline-wrapper .timeline-dot, .smile-icon-timeline-wrap .timeline-feature-item .timeline-dot, .tablepress .sorting:hover, .tablepress .sorting_asc, .tablepress .sorting_desc, p.demo_store, .woocommerce .button.alt, .woocommerce .button.checkout, .woocommerce .product-h .button.loading, .no-touch .woocommerce .product-h .button:hover, .woocommerce .onsale, .widget_price_filter .ui-slider-range, .widget_layered_nav ul li.chosen, .widget_layered_nav_filters ul li a, .no-touch .bbp-pagination-links a:hover, .bbp-pagination-links span.current, .no-touch span.bbp-topic-pagination a.page-numbers:hover, .tribe-events-calendar td.mobile-active, .tribe-events-button, .datepicker td.day.active, .datepicker td span.active, .gform_page_footer .gform_next_button, .gf_progressbar_percentage, .chosen-results li.highlighted, .select2-drop .select2-results .select2-highlighted, .l-body .cl-btn {
    background-color: #447490;
}
blockquote, .no-touch .l-titlebar .g-nav-item:hover, .g-filters.style_3 .g-filters-item.active, .no-touch .owl-prev:hover, .no-touch .owl-next:hover, .no-touch .w-logos.style_1 .w-logos-item:hover, .w-separator.color_primary, .w-tabs.layout_default .w-tabs-item.active, .w-tabs.layout_ver .w-tabs-item.active, .no-touch .w-testimonials.style_1 .w-testimonial-h:hover, .woocommerce-tabs .tabs li.active, .no-touch .woocommerce-tabs .tabs li.active:hover, .widget_layered_nav ul li.chosen, .owl-dot.active span, .rsBullet.rsNavSelected span, .bbp-pagination-links span.current, .no-touch #bbpress-forums .bbp-pagination-links a:hover, .no-touch #bbpress-forums .bbp-topic-pagination a:hover, #bbp-user-navigation li.current {
    border-color: #447490;
}
a.w-btn.color_primary.style_outlined, .w-btn.color_primary.style_outlined, .l-main .w-contacts-item::before, .w-iconbox.color_primary.style_outlined .w-iconbox-icon, .w-sharing.type_outlined.color_primary .w-sharing-item, .w-tabs.layout_timeline .w-tabs-item, .w-tabs.layout_timeline .w-tabs-section-header-h, .us-woo-shop_standard .product-h .button {
    box-shadow: 0 0 0 2px #447490 inset;
}
input:focus, textarea:focus, select:focus {
    box-shadow: 0 0 0 2px #447490;
}
.highlight_secondary, .no-touch .w-blognav-prev:hover .w-blognav-title, .no-touch .w-blognav-next:hover .w-blognav-title, a.w-btn.color_secondary.style_outlined, .w-btn.color_secondary.style_outlined, .w-counter.color_secondary .w-counter-number, .w-iconbox.color_secondary .w-iconbox-icon, .w-separator.color_secondary, .w-sharing.type_outlined.color_secondary .w-sharing-item, .no-touch .w-sharing.type_simple.color_secondary .w-sharing-item:hover .w-sharing-icon, .no-touch .woocommerce .stars:hover a, .no-touch .woocommerce .stars a:hover {
    color: #1b98e0;
}
.l-section.color_secondary, .l-titlebar.color_secondary, .highlight_secondary_bg, .no-touch .w-blog.layout_cards .w-blog-post-meta-category a:hover, .no-touch .w-blog.layout_tiles .w-blog-post-meta-category a:hover, .no-touch .l-section.preview_trendy .w-blog-post-meta-category a:hover, .no-touch input[type="button"]:hover, .no-touch input[type="submit"]:hover, a.w-btn.color_secondary, .w-btn.color_secondary, .w-btn.color_secondary.style_outlined::before, .w-actionbox.color_secondary, .w-iconbox.style_circle.color_secondary .w-iconbox-icon, .w-progbar.color_secondary .w-progbar-bar-h, .w-sharing.type_solid.color_secondary .w-sharing-item, .w-sharing.type_fixed.color_secondary .w-sharing-item, .w-sharing.type_outlined.color_secondary .w-sharing-item::before, .no-touch .woocommerce .button:hover, .no-touch .tribe-events-button:hover, .no-touch .widget_layered_nav_filters ul li a:hover {
    background-color: #1b98e0;
}
.w-separator.color_secondary {
    border-color: #1b98e0;
}
a.w-btn.color_secondary.style_outlined, .w-btn.color_secondary.style_outlined, .w-iconbox.color_secondary.style_outlined .w-iconbox-icon, .w-sharing.type_outlined.color_secondary .w-sharing-item {
    box-shadow: 0 0 0 2px #1b98e0 inset;
}
.highlight_faded, .w-author-url, .w-blog-post-meta > *, .w-profile-link.for_logout, .w-testimonial-author-role, .w-testimonials.style_4 .w-testimonial-h::before, .l-main .widget_tag_cloud, .l-main .widget_product_tag_cloud, .woocommerce-breadcrumb, p.bbp-topic-meta, .bbp_widget_login .logout-link {
    color: #999;
}
.w-blog.layout_latest .w-blog-post-meta-date {
    border-color: #999;
}
.tribe-events-cost, .tribe-events-list .tribe-events-event-cost {
    background-color: #999;
}
.l-section.color_alternate, .l-titlebar.color_alternate, .color_alternate .g-filters.style_1 .g-filters-item.active, .no-touch .color_alternate .g-filters-item.active:hover, .color_alternate .w-tabs.layout_default .w-tabs-item.active, .no-touch .color_alternate .w-tabs.layout_default .w-tabs-item.active:hover, .color_alternate .w-tabs.layout_ver .w-tabs-item.active, .no-touch .color_alternate .w-tabs.layout_ver .w-tabs-item.active:hover, .color_alternate .w-tabs.layout_timeline .w-tabs-item, .color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h {
    background-color: #f2f2f2;
}
.color_alternate a.w-btn.color_contrast, .color_alternate .w-btn.color_contrast, .no-touch .color_alternate a.w-btn.color_contrast:hover, .no-touch .color_alternate .w-btn.color_contrast:hover, .no-touch .color_alternate a.w-btn.color_contrast.style_outlined:hover, .no-touch .color_alternate .w-btn.color_contrast.style_outlined:hover, .color_alternate .w-iconbox.style_circle.color_contrast .w-iconbox-icon {
    color: #f2f2f2;
}
.color_alternate .w-tabs.layout_modern .w-tabs-item::after {
    border-bottom-color: #f2f2f2;
}
.color_alternate input, .color_alternate textarea, .color_alternate select, .color_alternate .w-blog-post-preview-icon, .color_alternate .w-blog.layout_flat .w-blog-post-h, .color_alternate .w-blog.layout_cards .w-blog-post-h, .color_alternate .g-filters.style_1, .color_alternate .g-filters.style_2 .g-filters-item.active, .color_alternate .w-iconbox.style_circle.color_light .w-iconbox-icon, .color_alternate .g-loadmore-btn, .color_alternate .w-pricing-item-header, .color_alternate .w-progbar-bar, .color_alternate .w-tabs.layout_default .w-tabs-list, .color_alternate .w-testimonials.style_4 .w-testimonial-h::before, .color_alternate .w-testimonials.style_6 .w-testimonial-text, .l-content .color_alternate .wp-caption-text {
    background-color: #fff;
}
.l-section.color_alternate, .l-section.color_alternate * {
    border-color: #ddd;
}
.color_alternate .w-separator, .color_alternate .w-iconbox.color_light .w-iconbox-icon {
    color: #ddd;
}
.color_alternate a.w-btn.color_light, .color_alternate .w-btn.color_light, .color_alternate .w-btn.color_light.style_outlined::before, .color_alternate .w-btn.w-blog-post-more::before, .color_alternate .w-iconbox.style_circle.color_light .w-iconbox-icon, .no-touch .color_alternate .g-loadmore-btn:hover {
    background-color: #ddd;
}
.color_alternate a.w-btn.color_light.style_outlined, .color_alternate .w-btn.color_light.style_outlined, .color_alternate .w-btn.w-blog-post-more, .color_alternate .w-iconbox.style_outlined.color_light .w-iconbox-icon, .color_alternate .w-person-links-item, .color_alternate .w-socials.style_outlined .w-socials-item-link, .color_alternate .pagination .page-numbers {
    box-shadow: 0 0 0 2px #ddd inset;
}
.color_alternate .w-tabs.layout_trendy .w-tabs-list {
    box-shadow: 0 -1px 0 #ddd inset;
}
.l-titlebar.color_alternate h1, .l-section.color_alternate h1, .l-section.color_alternate h2, .l-section.color_alternate h3, .l-section.color_alternate h4, .l-section.color_alternate h5, .l-section.color_alternate h6, .l-section.color_alternate .w-counter-number {
    color: #444;
}
.color_alternate .w-progbar.color_contrast .w-progbar-bar-h {
    background-color: #444;
}
.l-titlebar.color_alternate, .l-section.color_alternate, .color_alternate input, .color_alternate textarea, .color_alternate select, .color_alternate a.w-btn.color_contrast.style_outlined, .color_alternate .w-btn.color_contrast.style_outlined, .color_alternate .w-iconbox.color_contrast .w-iconbox-icon, .color_alternate .w-iconbox.color_light.style_circle .w-iconbox-icon, .color_alternate .w-tabs.layout_timeline .w-tabs-item, .color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h {
    color: #666;
}
.color_alternate a.w-btn.color_light, .color_alternate .w-btn.color_light, .color_alternate .w-btn.w-blog-post-more {
    color: #666 !important;
}
.color_alternate a.w-btn.color_contrast, .color_alternate .w-btn.color_contrast, .color_alternate .w-btn.color_contrast.style_outlined::before, .color_alternate .w-iconbox.style_circle.color_contrast .w-iconbox-icon {
    background-color: #666;
}
.color_alternate a.w-btn.color_contrast.style_outlined, .color_alternate .w-btn.color_contrast.style_outlined, .color_alternate .w-iconbox.style_outlined.color_contrast .w-iconbox-icon {
    box-shadow: 0 0 0 2px #666 inset;
}
.color_alternate a {
    color: #1b98e0;
}
.no-touch .color_alternate a:hover, .no-touch .color_alternate a:hover + .w-blog-post-body .w-blog-post-title a, .no-touch .color_alternate .w-blog-post-title a:hover {
    color: #447490;
}
.color_alternate .highlight_primary, .no-touch .l-titlebar.color_alternate .g-nav-item:hover, .color_alternate a.w-btn.color_primary.style_outlined, .color_alternate .w-btn.color_primary.style_outlined, .l-main .color_alternate .w-contacts-item::before, .color_alternate .w-counter.color_primary .w-counter-number, .color_alternate .g-filters-item.active, .no-touch .color_alternate .g-filters-item.active:hover, .color_alternate .w-form-row.focused .w-form-row-field::before, .color_alternate .w-iconbox.color_primary .w-iconbox-icon, .no-touch .color_alternate .owl-prev:hover, .no-touch .color_alternate .owl-next:hover, .color_alternate .w-separator.color_primary, .color_alternate .w-tabs.layout_default .w-tabs-item.active, .color_alternate .w-tabs.layout_trendy .w-tabs-item.active, .color_alternate .w-tabs.layout_ver .w-tabs-item.active, .color_alternate .w-tabs-section.active .w-tabs-section-header, .color_alternate .w-testimonials.style_2 .w-testimonial-h::before {
    color: #1b98e0;
}
.color_alternate .highlight_primary_bg, .color_alternate .w-actionbox.color_primary, .color_alternate .w-blog-post-preview-icon, .color_alternate .w-blog.layout_cards .format-quote .w-blog-post-h, .color_alternate button, .color_alternate input[type="button"], .color_alternate input[type="submit"], .color_alternate a.w-btn.color_primary, .color_alternate .w-btn.color_primary, .color_alternate .w-btn.color_primary.style_outlined::before, .no-touch .color_alternate .g-filters-item:hover, .color_alternate .w-iconbox.style_circle.color_primary .w-iconbox-icon, .no-touch .color_alternate .w-iconbox.style_circle .w-iconbox-icon::before, .no-touch .color_alternate .w-iconbox.style_outlined .w-iconbox-icon::before, .color_alternate .w-pricing-item.type_featured .w-pricing-item-header, .color_alternate .w-progbar.color_primary .w-progbar-bar-h, .color_alternate .w-tabs.layout_modern .w-tabs-list, .color_alternate .w-tabs.layout_trendy .w-tabs-item::after, .color_alternate .w-tabs.layout_timeline .w-tabs-item::before, .color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h::before, .no-touch .color_alternate .pagination .page-numbers::before, .color_alternate .pagination .page-numbers.current {
    background-color: #1b98e0;
}
.no-touch .l-titlebar.color_alternate .g-nav-item:hover, .color_alternate .g-filters.style_3 .g-filters-item.active, .no-touch .color_alternate .owl-prev:hover, .no-touch .color_alternate .owl-next:hover, .no-touch .color_alternate .w-logos.style_1 .w-logos-item:hover, .color_alternate .w-separator.color_primary, .color_alternate .w-tabs.layout_default .w-tabs-item.active, .color_alternate .w-tabs.layout_ver .w-tabs-item.active, .no-touch .color_alternate .w-tabs.layout_default .w-tabs-item.active:hover, .no-touch .color_alternate .w-tabs.layout_ver .w-tabs-item.active:hover, .no-touch .color_alternate .w-testimonials.style_1 .w-testimonial-h:hover {
    border-color: #1b98e0;
}
.color_alternate a.w-btn.color_primary.style_outlined, .color_alternate .w-btn.color_primary.style_outlined, .l-main .color_alternate .w-contacts-item::before, .color_alternate .w-iconbox.color_primary.style_outlined .w-iconbox-icon, .color_alternate .w-tabs.layout_timeline .w-tabs-item, .color_alternate .w-tabs.layout_timeline .w-tabs-section-header-h {
    box-shadow: 0 0 0 2px #1b98e0 inset;
}
.color_alternate input:focus, .color_alternate textarea:focus, .color_alternate select:focus {
    box-shadow: 0 0 0 2px #1b98e0;
}
.color_alternate .highlight_secondary, .color_alternate a.w-btn.color_secondary.style_outlined, .color_alternate .w-btn.color_secondary.style_outlined, .color_alternate .w-counter.color_secondary .w-counter-number, .color_alternate .w-iconbox.color_secondary .w-iconbox-icon, .color_alternate .w-separator.color_secondary {
    color: #447490;
}
.color_alternate .highlight_secondary_bg, .no-touch .color_alternate input[type="button"]:hover, .no-touch .color_alternate input[type="submit"]:hover, .color_alternate a.w-btn.color_secondary, .color_alternate .w-btn.color_secondary, .color_alternate .w-btn.color_secondary.style_outlined::before, .color_alternate .w-actionbox.color_secondary, .color_alternate .w-iconbox.style_circle.color_secondary .w-iconbox-icon, .color_alternate .w-progbar.color_secondary .w-progbar-bar-h {
    background-color: #447490;
}
.color_alternate .w-separator.color_secondary {
    border-color: #447490;
}
.color_alternate a.w-btn.color_secondary.style_outlined, .color_alternate .w-btn.color_secondary.style_outlined, .color_alternate .w-iconbox.color_secondary.style_outlined .w-iconbox-icon {
    box-shadow: 0 0 0 2px #447490 inset;
}
.color_alternate .highlight_faded, .color_alternate .w-blog-post-meta > *, .color_alternate .w-profile-link.for_logout, .color_alternate .w-testimonial-author-role, .color_alternate .w-testimonials.style_4 .w-testimonial-h::before {
    color: #999;
}
.color_alternate .w-blog.layout_latest .w-blog-post-meta-date {
    border-color: #999;
}
.color_footer-top {
    background-color: #333;
}
.color_footer-top input, .color_footer-top textarea, .color_footer-top select, .color_footer-top .w-socials.style_solid .w-socials-item-link {
    background-color: #222;
}
.color_footer-top, .color_footer-top * {
    border-color: #444;
}
.color_footer-top .w-separator {
    color: #444;
}
.color_footer-top .w-socials.style_outlined .w-socials-item-link {
    box-shadow: 0 0 0 2px #444 inset;
}
.color_footer-top, .color_footer-top input, .color_footer-top textarea, .color_footer-top select {
    color: #aaa;
}
.color_footer-top a {
    color: #ddd;
}
.no-touch .color_footer-top a:hover, .no-touch .color_footer-top .w-form-row.focused .w-form-row-field::before {
    color: #1b98e0;
}
.color_footer-top input:focus, .color_footer-top textarea:focus, .color_footer-top select:focus {
    box-shadow: 0 0 0 2px #1b98e0;
}
.color_footer-bottom {
    background-color: #fff;
}
.color_footer-bottom input, .color_footer-bottom textarea, .color_footer-bottom select, .color_footer-bottom .w-socials.style_solid .w-socials-item-link {
    background-color: #333;
}
.color_footer-bottom, .color_footer-bottom * {
    border-color: #444;
}
.color_footer-bottom .w-separator {
    color: #444;
}
.color_footer-bottom .w-socials.style_outlined .w-socials-item-link {
    box-shadow: 0 0 0 2px #444 inset;
}
.color_footer-bottom, .color_footer-bottom input, .color_footer-bottom textarea, .color_footer-bottom select {
    color: #999;
}
.color_footer-bottom a {
    color: #666;
}
.no-touch .color_footer-bottom a:hover, .no-touch .color_footer-bottom .w-form-row.focused .w-form-row-field::before {
    color: #1b98e0;
}
.color_footer-bottom input:focus, .color_footer-bottom textarea:focus, .color_footer-bottom select:focus {
    box-shadow: 0 0 0 2px #1b98e0;
}